<div><span (click)="this.collapsed = !this.collapsed">{{this.name}}: {{this.collection.size}} Karten. </span>
    <ng-container *ngIf="collapsed">
        <span *ngFor="let c of this.cardCombined(); let i = index" (mouseover)="this.hover(c.type)"><ng-container *ngIf="i !== 0">, </ng-container>{{c.text}}</span>
    </ng-container>
    <ng-container *ngIf="!collapsed">
        <br/>
        <mrn-card *ngFor="let c of this.collection" [card]="c" [act]="this.act"></mrn-card>
        <ng-container *ngIf="this.collection.size === 0">
            <br/>
            <br/>
        </ng-container>            
    </ng-container>
</div>
