legend.turn {
    color: red;
}

.grid-parent {
    display: grid;
    grid-template-rows: 30px 1.0fr;
    grid-template-columns: 1.0fr 250px;
    width: 100%;
    height: 100%;
}

.grid-top {
    grid-row-start: 1;
    grid-column-start: 1;
}

.grid-center {
    grid-row-start: 2;
    grid-column-start: 1;
    overflow: scroll;
}

.grid-right {
    grid-row-start: 1;
    grid-row-end: span 2;
    grid-column-start: 2;
}

a.playerLink {
    display: inline-block;
    width:fit-content;
    height:fit-content;
    margin-top: 3px;
    margin-bottom: 3px;
    border: solid 1px #000000;
    padding: 3px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
}

td.selfName {
    font-size: 30px; 
    width:10%;
    height:6%;
    text-align:center;
    color: white;
}

td.selfName.selfActive {
    color: red;
}

a.activePlayer {
    border: dashed 1px #000000;
    animation-duration: 0.7s;
    animation-name: showActive;
    animation-iteration-count: 2;
}

@keyframes showActive {
    0% {
        filter: none;
    }
    50% {
        filter: hue-rotate(90deg);
    }
    100% {
        filter: none;
    }
}

button {
    background-color: #FFFFFF;
    border: solid 1px #000000;
}

button:hover {
    background-color: #C4C4C4;
    cursor: pointer; 
}

input {
    background-color: #FFFFFF;
    border: solid 1px #000000;
}

input:hover {
    background-color: #C4C4C4;
    cursor: pointer; 
}