<ng-container *ngIf="state === 'initial'">
    <form>
        <table>
            <tr>
                <td>Spieler</td>
                <td><input type="text" name="playerName" [(ngModel)]="this.formData.playerName" /></td>
            </tr>
            <tr>
                <td>Deck-URL</td>
                <td><input type="text" name="deckUrl" [(ngModel)]="this.formData.deckUrl" /></td>
            </tr>
        </table>
        <button (click)="this.start()">Start ...</button>
    </form>
</ng-container>
<ng-container *ngIf="state === 'started'">
    <button (click)="this.waitForOthers()">Neues Spiel starten</button>
    <button (click)="this.join()">Existierendem Spiel beitreten ...</button>
</ng-container>
<ng-container *ngIf="state === 'joined'">
    <button *ngIf="!fieldService.gameField.currentPlayerName" (click)="fieldService.gameField.shuffleStartPlayer()">Zufälligen Startspieler wählen</button>
    <button *ngIf="isOwnTurn()" (click)="fieldService.gameField.nextPlayer()">Zug beenden</button>
    <mrn-self-player></mrn-self-player>

    <button (click)="dice(6)">Würfel 6</button><button (click)="dice(10)">Würfel 10</button><button (click)="dice(20)">Würfel 20</button>
    
    <mrn-other-player *ngFor="let p of otherPlayers" [me]="p"></mrn-other-player>
    
    <mrn-chat-box></mrn-chat-box> 
    <mrn-card-details></mrn-card-details>   

    <mrn-modal-card-collection #mcc></mrn-modal-card-collection>
</ng-container>
