<ng-container *ngIf="state === 'initial'">
    <form>
        <table>
            <tr>
                <td>Spieler</td>
                <td><input type="text" name="playerName" [(ngModel)]="this.formData.playerName" /></td>
            </tr>
            <tr>
                <td>Deck-URL</td>
                <td><input type="text" name="deckUrl" [(ngModel)]="this.formData.deckUrl" /></td>
            </tr>
        </table>
        <button (click)="this.waitForOthers()">Neues Spiel starten</button>
        <button (click)="this.join()">Existierendem Spiel beitreten ...</button>
        <button *ngIf="gameExists()" (click)="this.continueGame()">Spiel fortsetzen</button>
    </form>
</ng-container>
<ng-container *ngIf="state === 'joined'">
    <mrn-self-player></mrn-self-player>
    <mrn-modal-card-collection #mcc></mrn-modal-card-collection>
</ng-container>
